[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyopengl = "*"
numpy = "*"
glfw = "*"
pyglm = "*"
pillow = "*"
screeninfo = "*"

[dev-packages]

[requires]
python_version = "3.10"
